html {
    background-color: #1D1D1D;
}

a,
h1,
h2,
label {
    color: #80BD01;
}

a:hover {
    opacity: .75;
}

fieldset {
    padding: 1rem;
    border: medium solid #80BD01;
}

.error {
    font-size: 2rem;
    padding: 1rem;
    background-color: #80BD01;
    color: #fff;
}

.poster {
    max-width: 100px;
}

.table {
    width: 100%;
}

.table td,
.table th {
    padding: 1rem;
}

.table tr:first-child {
    background-color: #292623;
    color: #80BD01;
}

.table tr:nth-child(even) {
    background-color: #CCC;
}

.table tr:nth-child(odd):not(:first-child) {
    background-color: #EEE;
}

.button {
    padding: .5rem 1rem;
    background-color: #80BD01;
    color: #FFF;
    cursor: pointer;
}

.button:hover {
    opacity: .75;
}

.add {
    background-color: #0B0;
}

.edit {
    background-color: #0871B2;
}

.delete,
.err {
    background-color: #D23641;
}